.merah{
	background-color: red;
}
.coklat{
	background-color: brown;
	height: 70px;
}
.hijau{
	background-color: green;
}
.kanan{
	float: right;
}
.menu{	
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 24px;
	float: right;
	color: white;

}	
.menu li{
	display: inline;
    
}
.footer{
	color: white;
	text-align: center;
	
}
.isiKiri{
	background-color: white;
	text-align: center;
}
.isiKanan{
	background-color: white;
}
.content{
	margin-top: 250px;
}
.textKiri{
	text-align: left;
}
#map {
        height: 400px;
        width: 100%;
       }
#mapdetail {
		height: 240px;
		width: 100%;
		border-radius: 12px;
}
#slides {
      display: none;
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }